#are-you-sure {
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#are-you-sure .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
}

#are-you-sure .controls .button {
  width: 6em;
}
