#modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem;
  overflow: auto;
}

#modal h2 {
  text-align: center;
}

#modal .content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  border: 1px solid rgb(56, 56, 56);
  padding: 2em;
  border-radius: 0.15em;
  max-width: 100%;
  position: relative;
}

#modal .exit {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 1em;
  font-size: 1em;
  opacity: 0.4;
}
#modal .exit svg * {
  stroke-width: 1;
}

#modal .exit:hover {
  background-color: transparent;
}