# Create a .env file and copy these values. Make sure to change the secrets.

EXPRESS_PORT=10842
EXPRESS_HOSTNAME=0.0.0.0
NGINX_PORT=4200
POSTGRES_USER=postgres
POSTGRES_PASSWORD='SUPERUNSAFETERRIBLEPASSWORD12345'
POSTGRES_DB=db
NX_ISOLATE_PLUGINS=false
NODE_ENV=development
ARGON2_SECRET='SUPERUNSAFETERRIBLEPASSWORD12345'

# Using these is horrible for security but I leave them here for your convenience in reviewing.
PRIVATE_KEY='{"kty":"EC","x":"x4dmk8B314YjWJqqRwnD_m7Adyoj4rlU57RpWaLTrjY","y":"0KG_TtMcEXyTSJ02rLXqdmTYeSBqHHDB69B1vpZ-vdI","crv":"P-256","d":"CzGOUPbf_2VEgjCa0EBJNXgVDbYHcmkiGDWGVA5Oesg"}'
PUBLIC_KEY='{"kty":"EC","x":"x4dmk8B314YjWJqqRwnD_m7Adyoj4rlU57RpWaLTrjY","y":"0KG_TtMcEXyTSJ02rLXqdmTYeSBqHHDB69B1vpZ-vdI","crv":"P-256"}'
